.custom-control {
  .custom-control-input {
    &:checked~.custom-control-label {
      &::before {
        background-color: orange;
        border-color: orange;
      }
    }
    &:focus~.custom-control-label {
      &::before {
        box-shadow: 0 0 0 0.2rem yellow !important;
      }
    }
  }
}
.custom-switch {
  .custom-control-label {
    &::before {
      background-color: lightgray;
      border: none;
    }
    &::after {
      background-color: #ffffff !important;
    }
  }
}

.custom-control-label-active {
  font-weight: bold;
}

.custom-control-label-inactive {
  color: lightgray;
}