input[type=number] {
  border-radius: 30px;
  font-weight: bold;
  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #2e2e2e;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #2e2e2e;
  }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.input-group-text {
  background-color: inherit !important;
  border: inherit !important;
  border-radius: inherit !important;
}
